Repository ajanes93/feed-ai: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-worker, format-web, format-worker

lefthook.yml:

pre-commit:
  commands:
    lint-web:
      glob: "web/src/**/*.{ts,vue}"
      root: "web/"
      run: npx eslint --fix {staged_files} && git add {staged_files}
    lint-worker:
      glob: "worker/src/**/*.ts"
      root: "worker/"
      run: npx eslint --fix {staged_files} && git add {staged_files}
    format-web:
      glob: "web/src/**/*.{ts,vue,css}"
      root: "web/"
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-worker:
      glob: "worker/src/**/*.ts"
      root: "worker/"
      run: npx prettier --write {staged_files} && git add {staged_files}

Fix unprotected admin endpoints by moving auth middleware
  web/src/views/DashboardView.vue
  worker/src/__tests__/index.test.ts
  worker/src/index.ts
Due: lint-web, lint-worker, format-web, format-worker

Fix e2e tests for removed 'All' category filter
  CLAUDE.md
  web/e2e/feed-layout.spec.ts
  web/e2e/fixtures.ts
  web/e2e/navigation.spec.ts
Due: none

Add AI comment summaries for Reddit and HN discussions
  shared/types.ts
  web/e2e/comment-summaries.spec.ts
  web/src/__tests__/components/DigestCard.test.ts
  web/src/components/DigestCard.vue
  worker/migrations/0004_add_comment_summaries.sql
  worker/schema.sql
  worker/src/__tests__/comments.test.ts
  worker/src/__tests__/helpers.ts
  worker/src/index.ts
  worker/src/services/comments.ts
Due: lint-web, lint-worker, format-web, format-worker

Add detailed logging to Reddit and HN comment fetching
  worker/src/services/comments.ts
Due: lint-worker, format-worker

Add intra-batch dedup to prevent cross-source duplicates
  worker/src/__tests__/pipeline.test.ts
  worker/src/index.ts
Due: lint-worker, format-worker

Optimize CLAUDE.md and .claude files for agent efficiency
  .claude/agents/code-reviewer.md
  .claude/agents/code-simplifier.md
  .claude/commands/pr-template.md
  .claude/commands/pr.md
  CLAUDE.md
  worker/src/index.ts
Due: none

Apply architect-approved fixes from agent review
  shared/types.ts
  web/src/__tests__/components/DigestCard.test.ts
  worker/src/index.ts
  worker/src/services/comments.ts
Due: lint-web, lint-worker, format-web, format-worker

Fix MCP server 404 errors by replacing Durable Objects with stateless handler
  .github/workflows/deploy.yml
  mcp/package.json
  mcp/src/__tests__/server.test.ts
  mcp/src/index.ts
  mcp/src/tools.ts
  mcp/wrangler.toml
  package-lock.json
Due: none

Decouple comment enrichment into self-chaining endpoint
  shared/types.ts
  worker/src/index.ts
  worker/src/services/comments.ts
  worker/src/types.ts
  worker/wrangler.toml
Due: lint-worker, format-worker

Fix MCP server 404 errors by replacing Durable Objects with stateless handler
  mcp/src/tools.ts
Due: none

Fix test isolation and add enrich-comments endpoint tests
  worker/src/__tests__/integration.test.ts
  worker/src/index.ts
Due: lint-worker, format-worker

Add circuit breaker to comment enrichment self-chaining
  worker/src/index.ts
Due: none

Fix enrichment trigger: use separate cron instead of waitUntil
  web/src/composables/useDashboard.ts
  web/src/views/DashboardView.vue
  worker/src/index.ts
  worker/wrangler.toml
Due: lint-web, format-web

Fix MCP 404 errors (1042) by using Cloudflare Service Binding instead of URL fetch
  mcp/src/__tests__/server.test.ts
  mcp/src/index.ts
  mcp/src/tools.ts
  mcp/wrangler.toml
Due: none

Fix HN comment enrichment and store HN discussion URLs
  shared/types.ts
  web/src/components/DigestCard.vue
  worker/migrations/0005_add_comments_url.sql
  worker/schema.sql
  worker/src/__tests__/helpers.ts
  worker/src/__tests__/integration.test.ts
  worker/src/index.ts
  worker/src/services/comments.ts
  worker/src/services/fetcher.ts
  worker/src/services/summarizer.ts
  worker/src/types.ts
Due: lint-web, lint-worker, format-web, format-worker

Address code review: tighten URL validation and patterns
  worker/src/index.ts
  worker/src/services/comments.ts
Due: lint-worker, format-worker

Minor cleanups: inline variable, optional chaining, fix stale comment
  worker/src/__tests__/integration.test.ts
  worker/src/services/comments.ts
  worker/src/services/fetcher.ts
Due: lint-worker, format-worker

Fix source_name: use config names instead of AI output
  worker/src/__tests__/summarizer.test.ts
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Fix discussion link visibility and make it generic
  web/src/components/DigestCard.vue
  worker/src/services/comments.ts
Due: lint-web, lint-worker, format-web, format-worker

Add discussion link tests and fix raw_items upsert
  web/e2e/comment-summaries.spec.ts
  web/e2e/fixtures.ts
  web/src/__tests__/components/DigestCard.test.ts
  worker/src/index.ts
Due: lint-web, format-web

Simplify tests and make comments_url upsert write-once
  web/e2e/comment-summaries.spec.ts
  web/src/__tests__/components/DigestCard.test.ts
  worker/src/index.ts
Due: lint-web, format-web

Add Himalayas Vue jobs source and improve Jobicy query
  worker/src/__tests__/himalayas.test.ts
  worker/src/services/fetcher.ts
  worker/src/services/himalayas.ts
  worker/src/sources.ts
Due: lint-worker, format-worker

Add 4 new job sources: RemoteOK, Arbeitnow, Real Work From Anywhere, DevITjobs UK
  worker/src/__tests__/arbeitnow.test.ts
  worker/src/__tests__/remoteok.test.ts
  worker/src/services/arbeitnow.ts
  worker/src/services/fetcher.ts
  worker/src/services/remoteok.ts
  worker/src/sources.ts
Due: lint-worker, format-worker

Switch to custom subdomains for all services
  mcp/README.md
  worker/src/__tests__/index.test.ts
  worker/src/index.ts
  worker/wrangler.toml
Due: lint-worker, format-worker

Add feed-ai.pages.dev back to CORS origins
  worker/src/index.ts
Due: none

Replace VITE_API_BASE with service binding proxy
  .github/workflows/deploy.yml
  web/functions/api/[[path]].ts
  web/src/composables/useDashboard.ts
  web/src/composables/useDigest.ts
  web/vite.config.ts
  web/wrangler.toml
Due: lint-web, format-web

Replace SELF_URL with service binding, use dynamic CORS origins
  worker/src/index.ts
  worker/src/types.ts
  worker/wrangler.toml
Due: none

Fix reviewer findings: array guard, regex, and shared timestamp helper
  worker/src/__tests__/remoteok.test.ts
  worker/src/services/arbeitnow.ts
  worker/src/services/constants.ts
  worker/src/services/himalayas.ts
  worker/src/services/remoteok.ts
Due: lint-worker, format-worker

Scope CORS pages.dev check to *.andresjanes.pages.dev
  worker/src/index.ts
Due: none

Add CORS pattern tests, remove VITE_API_BASE from docs
  CLAUDE.md
  README.md
  web/README.md
  worker/src/__tests__/index.test.ts
Due: lint-worker, format-worker

Simplify CORS, enrichment, and composable code
  web/src/composables/useDashboard.ts
  web/src/composables/useDigest.ts
  worker/src/index.ts
Due: lint-web, format-web

Remove service bindings, use direct fetch for proxy and enrichment
  web/functions/api/[[path]].ts
  web/wrangler.toml
  worker/src/index.ts
  worker/src/types.ts
  worker/wrangler.toml
Due: none

Add SELF_URL env var to worker config
  worker/wrangler.toml
Due: none

Revert "Add SELF_URL env var to worker config"
  worker/wrangler.toml
Due: none

Revert "Remove service bindings, use direct fetch for proxy and enrichment"
  web/functions/api/[[path]].ts
  web/wrangler.toml
  worker/src/index.ts
  worker/src/types.ts
  worker/wrangler.toml
Due: none

Add pages_build_output_dir so wrangler.toml is not ignored
  web/wrangler.toml
Due: none

Separate fetch from digest generation to stay under subrequest limit
  web/src/composables/useDashboard.ts
  web/src/views/DashboardView.vue
  worker/src/__tests__/integration.test.ts
  worker/src/index.ts
Due: lint-web, lint-worker, format-web, format-worker

Add portfolio footer, fix dashboard tests, add fetchSources tests
  web/src/__tests__/useDashboard.test.ts
  web/src/__tests__/views/DashboardView.test.ts
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix dashboard e2e tests for updated button labels
  web/e2e/dashboard.spec.ts
Due: none

Filter jobs to Vue.js only and split cron fetches by category
  worker/src/__tests__/arbeitnow.test.ts
  worker/src/__tests__/hn-hiring.test.ts
  worker/src/__tests__/integration.test.ts
  worker/src/__tests__/remoteok.test.ts
  worker/src/index.ts
  worker/src/services/arbeitnow.ts
  worker/src/services/hn-hiring.ts
  worker/src/services/remoteok.ts
  worker/src/services/summarizer.ts
  worker/src/sources.ts
  worker/wrangler.toml
Due: lint-worker, format-worker
