Repository ajanes93/feed-ai: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-worker, format-web, format-worker

lint-web:
  run: cd web && npx eslint --fix {staged_files} && git add {staged_files}

lint-worker:
  run: cd worker && npx eslint --fix {staged_files} && git add {staged_files}

format-web:
  run: cd web && npx prettier --write {staged_files} && git add {staged_files}

format-worker:
  run: cd worker && npx prettier --write {staged_files} && git add {staged_files}

Add swipe navigation between digests and redesign UI
  web/src/App.vue
  web/src/components/DateHeader.vue
  web/src/components/DigestCard.vue
  web/src/composables/useDigest.ts
  web/src/style.css
  worker/src/services/fetcher.ts
  worker/src/services/summarizer.ts
Due: lint-web, lint-worker, format-web, format-worker

Switch from full-screen snap cards to scrollable card list
  web/src/components/DigestCard.vue
  web/src/components/DigestFeed.vue
Due: lint-web, format-web

Fall back to most recent digest when today has none
  web/src/composables/useDigest.ts
Due: lint-web, format-web

Show empty state with navigation header when today has no digest
  web/src/App.vue
  web/src/composables/useDigest.ts
Due: lint-web, format-web

Apply review fixes: touch guards, invalid date fallback, comment clarity
  web/src/App.vue
  web/src/components/DigestCard.vue
  web/src/composables/useDigest.ts
  worker/src/services/fetcher.ts
Due: lint-web, lint-worker, format-web, format-worker

Simplify: extract helpers, unify fetch logic, clean up templates
  web/src/App.vue
  web/src/composables/useDigest.ts
  worker/src/index.ts
  worker/src/services/fetcher.ts
  worker/src/services/summarizer.ts
Due: lint-web, lint-worker, format-web, format-worker

Fix reviewer issues: NaN dates, Claude response validation, type fix
  worker/src/index.ts
  worker/src/services/fetcher.ts
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Apply review and simplifier fixes across all files
  web/src/App.vue
  web/src/composables/useDigest.ts
  worker/src/index.ts
  worker/src/services/fetcher.ts
  worker/src/services/summarizer.ts
Due: lint-web, lint-worker, format-web, format-worker

Configure 31 sources and per-category item limits
  worker/src/services/summarizer.ts
  worker/src/sources.ts
Due: lint-worker, format-worker

Implement full PRD: P0-P4 features
  web/src/App.vue
  web/src/components/CategoryFilter.vue
  web/src/components/DigestCard.vue
  web/src/components/DigestFeed.vue
  web/src/components/EmptyState.vue
  web/src/composables/useDigest.ts
  web/src/style.css
  worker/migrations/0001_add_source_health.sql
  worker/package-lock.json
  worker/package.json
  worker/schema.sql
  worker/src/index.ts
  worker/src/services/fetcher.ts
  worker/src/services/summarizer.ts
  worker/src/sources.ts
  worker/src/types.ts
  worker/wrangler.toml
Due: lint-web, lint-worker, format-web, format-worker

Apply review and simplifier fixes across all files
  web/src/App.vue
  web/src/components/CategoryFilter.vue
  web/src/components/DigestCard.vue
  web/src/components/DigestFeed.vue
  web/src/components/EmptyState.vue
  web/src/composables/useDigest.ts
  worker/package-lock.json
  worker/package.json
  worker/src/index.ts
  worker/src/services/fetcher.ts
  worker/src/services/summarizer.ts
  worker/src/sources.ts
  worker/src/types.ts
Due: lint-web, lint-worker, format-web, format-worker

Adopt @vueuse/core and @vueuse/motion, extract swipe composable
  web/package-lock.json
  web/package.json
  web/src/App.vue
  web/src/components/DigestCard.vue
  web/src/components/DigestFeed.vue
  web/src/components/EmptyState.vue
  web/src/composables/useSwipeNavigation.ts
  web/src/main.ts
Due: lint-web, format-web

Add rebuild digest endpoint, extract shared build logic
  worker/src/index.ts
Due: none

Apply review and simplifier fixes across all files
  web/src/components/DigestCard.vue
  web/src/components/DigestFeed.vue
  web/src/components/EmptyState.vue
  web/src/composables/useDigest.ts
  web/src/composables/useSwipeNavigation.ts
  worker/src/index.ts
  worker/src/services/fetcher.ts
  worker/src/services/summarizer.ts
Due: lint-web, lint-worker, format-web, format-worker

Restrict rebuild endpoint to last 48 hours
  worker/src/index.ts
Due: none

Simplify rebuild endpoint to today only
  worker/src/index.ts
Due: none

Enable observability in wrangler config
  worker/wrangler.toml
Due: none

Fix truncated AI response: increase token limit and recover partial JSON
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Make source health recording non-fatal
  worker/src/index.ts
Due: none

Revert: keep source health recording fatal
  worker/src/index.ts
Due: none

Fix JSON parsing: strip closing fences, handle recovery errors
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Fix D1 undefined error: coalesce nullable fields to null
  worker/src/index.ts
Due: none

Add AI usage tracking, error logging, and admin dashboard
  web/package-lock.json
  web/package.json
  web/src/App.vue
  web/src/composables/useDashboard.ts
  web/src/main.ts
  web/src/router.ts
  web/src/views/DashboardView.vue
  web/src/views/FeedView.vue
  worker/schema.sql
  worker/src/index.ts
  worker/src/services/logger.ts
  worker/src/services/summarizer.ts
Due: lint-web, lint-worker, format-web, format-worker

Fix review issues: remove localStorage, deduplicate, harden
  web/src/composables/useDashboard.ts
  web/src/views/DashboardView.vue
  worker/schema.sql
  worker/src/index.ts
  worker/src/services/logger.ts
  worker/src/services/summarizer.ts
Due: lint-web, lint-worker, format-web, format-worker

Remove auth from dashboard — read-only stats, no secrets
  web/src/composables/useDashboard.ts
  web/src/views/DashboardView.vue
  worker/src/index.ts
Due: lint-web, format-web

Refactor: extract helpers and use custom AIError class
  worker/src/index.ts
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Refactor dashboard: extract components, use Promise.allSettled
  web/src/components/DataTable.vue
  web/src/components/StatCard.vue
  web/src/utils/formatting.ts
  web/src/views/DashboardView.vue
  worker/src/index.ts
Due: lint-web, format-web

Fix review findings: DataTable pattern, category limits, settled logging
  web/src/components/DataTable.vue
  web/src/views/DashboardView.vue
  worker/src/index.ts
  worker/src/services/summarizer.ts
Due: lint-web, lint-worker, format-web, format-worker

Fix dashboard scroll: use own scroll container to bypass global overflow:hidden
  web/src/views/DashboardView.vue
Due: lint-web, format-web

Remove digest_id foreign key from ai_usage table
  web/src/composables/useDashboard.ts
  worker/schema.sql
  worker/src/index.ts
  worker/src/services/logger.ts
  worker/src/services/summarizer.ts
Due: lint-web, lint-worker, format-web, format-worker

Add migration for ai_usage and error_logs tables
  worker/migrations/0002_add_ai_usage_and_error_logs.sql
Due: none

Rethrow logging errors instead of silently swallowing them
  worker/src/services/logger.ts
Due: lint-worker, format-worker

Dedup raw items against recent digests before AI call
  worker/src/index.ts
Due: none

Improve digest coverage with per-source cap and jobs separation
  worker/src/index.ts
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Improve UI: fix filters, readability, swipe between categories
  web/src/components/CategoryFilter.vue
  web/src/components/DateHeader.vue
  web/src/components/DigestCard.vue
  web/src/components/DigestFeed.vue
  web/src/composables/useSwipeNavigation.ts
  web/src/views/FeedView.vue
Due: lint-web, format-web

Address review and simplifier findings
  web/src/composables/useSwipeNavigation.ts
  worker/src/index.ts
  worker/src/services/logger.ts
  worker/src/services/summarizer.ts
Due: lint-web, lint-worker, format-web, format-worker

Fix remaining review findings: await error handler, share try-catch, log source health failures
  web/src/components/DigestCard.vue
  worker/src/index.ts
  worker/src/services/summarizer.ts
Due: lint-web, lint-worker, format-web, format-worker

Improve UI smoothness: route-based navigation, smooth swipe, centered pills
  web/src/components/CategoryFilter.vue
  web/src/components/DateHeader.vue
  web/src/components/DigestFeed.vue
  web/src/composables/useSwipeNavigation.ts
  web/src/router.ts
  web/src/style.css
  web/src/views/FeedView.vue
Due: lint-web, format-web

Polish swipe physics and animations for native feel
  web/src/components/DigestCard.vue
  web/src/components/DigestFeed.vue
  web/src/composables/useSwipeNavigation.ts
Due: lint-web, format-web

Remove @vueuse/motion, add sliding pill indicator, scroll reset
  web/package-lock.json
  web/package.json
  web/src/components/CategoryFilter.vue
  web/src/components/EmptyState.vue
  web/src/main.ts
  web/src/views/FeedView.vue
Due: lint-web, format-web

Path conditions:
  lint-web: any of: web/src/**/*.{ts,vue}
  lint-worker: any of: worker/src/**/*.ts
  format-web: any of: web/src/**/*.{ts,vue,css}
  format-worker: any of: worker/src/**/*.ts
