Repository ajanes93/feed-ai: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-worker, format-web, format-worker

lint-web:
  run: cd web && npx eslint --fix {staged_files} && git add {staged_files}

lint-worker:
  run: cd worker && npx eslint --fix {staged_files} && git add {staged_files}

format-web:
  run: cd web && npx prettier --write {staged_files} && git add {staged_files}

format-worker:
  run: cd worker && npx prettier --write {staged_files} && git add {staged_files}

Run prettier on all files
  web/src/__tests__/factories.ts
  web/src/__tests__/helpers.ts
  web/src/__tests__/useDashboard.test.ts
  web/src/__tests__/useDigest.test.ts
  web/src/composables/useDigest.ts
  worker/src/__tests__/fetcher.test.ts
  worker/src/__tests__/helpers.ts
  worker/src/__tests__/index.test.ts
  worker/src/__tests__/sources.test.ts
  worker/src/__tests__/summarizer.test.ts
  worker/src/index.ts
  worker/src/services/logger.ts
  worker/src/services/summarizer.ts
Due: lint-web, lint-worker, format-web, format-worker

Add lefthook as root dev dependency and install hooks
  package-lock.json
  package.json
Due: none

Add tests for logger, pipeline helpers, and edge cases
  lefthook.yml
  worker/src/__tests__/fetcher.test.ts
  worker/src/__tests__/logger.test.ts
  worker/src/__tests__/pipeline.test.ts
  worker/src/__tests__/summarizer.test.ts
  worker/src/index.ts
Due: lint-worker, format-worker

Simplify tests: extract shared helpers, remove noise
  worker/src/__tests__/fetcher.test.ts
  worker/src/__tests__/helpers.ts
  worker/src/__tests__/logger.test.ts
  worker/src/__tests__/sources.test.ts
  worker/src/__tests__/summarizer.test.ts
Due: lint-worker, format-worker

Add comprehensive README with full project documentation
  README.md
Due: none

Remove hardcoded source counts and TikTok reference from README
  README.md
Due: none

Clean up README: remove file paths, salary details, and PII
  README.md
Due: none

Start at last category filter when swiping to previous digest
  web/src/views/FeedView.vue
Due: lint-web, format-web

Remove unused outerSwiper variable and init handler
  web/src/views/FeedView.vue
Due: lint-web, format-web

Add integration tests for POST /api/generate and /api/rebuild
  worker/src/__tests__/integration.test.ts
Due: lint-worker, format-worker

Run prettier across entire codebase
  web/src/App.vue
  web/src/components/CategoryFilter.vue
  web/src/components/DataTable.vue
  web/src/components/DigestCard.vue
  web/src/views/DashboardView.vue
Due: lint-web, format-web

Add D1 migrations step to deploy workflow
  .github/workflows/deploy.yml
Due: none

Make 0001_schema.sql idempotent with IF NOT EXISTS
  worker/migrations/0001_schema.sql
Due: none

Add editable PR template and /pr-template command
  .claude/commands/pr-template.md
  .claude/commands/pr.md
  .claude/pr-template.md
Due: none

Revert "Add editable PR template and /pr-template command"
  .claude/commands/pr-template.md
  .claude/commands/pr.md
  .claude/pr-template.md
Due: none

Add component and view specs for all Vue files
  web/package-lock.json
  web/package.json
  web/src/__tests__/components/CategoryFilter.test.ts
  web/src/__tests__/components/DataTable.test.ts
  web/src/__tests__/components/DateHeader.test.ts
  web/src/__tests__/components/DigestCard.test.ts
  web/src/__tests__/components/DigestFeed.test.ts
  web/src/__tests__/components/EmptyState.test.ts
  web/src/__tests__/components/StatCard.test.ts
  web/src/__tests__/setup.ts
  web/src/__tests__/utils.ts
  web/src/__tests__/views/DashboardView.test.ts
  web/src/__tests__/views/FeedView.test.ts
  web/src/__tests__/vue-test-utils.d.ts
  web/vitest.config.ts
Due: lint-web, format-web

Add /pr-template command and extract PR template
  .claude/commands/pr-template.md
  .claude/commands/pr.md
  .claude/pr-template.md
Due: none

Improve test quality: DRY up with it.each, add factories, boost coverage
  web/coverage/__tests__/factories.ts.html
  web/coverage/__tests__/helpers.ts.html
  web/coverage/__tests__/index.html
  web/coverage/base.css
  web/coverage/block-navigation.js
  web/coverage/clover.xml
  web/coverage/components/CategoryFilter.vue.html
  web/coverage/components/DataTable.vue.html
  web/coverage/components/DateHeader.vue.html
  web/coverage/components/DigestCard.vue.html
  web/coverage/components/DigestFeed.vue.html
  web/coverage/components/EmptyState.vue.html
  web/coverage/components/StatCard.vue.html
  web/coverage/components/index.html
  web/coverage/composables/index.html
  web/coverage/composables/useDashboard.ts.html
  web/coverage/composables/useDigest.ts.html
  web/coverage/coverage-final.json
  web/coverage/favicon.png
  web/coverage/index.html
  web/coverage/prettify.css
  web/coverage/prettify.js
  web/coverage/sort-arrow-sprite.png
  web/coverage/sorter.js
  web/coverage/utils/formatting.ts.html
  web/coverage/utils/index.html
  web/coverage/views/DashboardView.vue.html
  web/coverage/views/FeedView.vue.html
  web/coverage/views/index.html
  web/package-lock.json
  web/package.json
  web/src/__tests__/components/CategoryFilter.test.ts
  web/src/__tests__/components/DateHeader.test.ts
  web/src/__tests__/components/DigestCard.test.ts
  web/src/__tests__/factories.ts
  web/src/__tests__/setup.ts
  web/src/__tests__/views/DashboardView.test.ts
  web/src/__tests__/views/FeedView.test.ts
Due: lint-web, format-web

Remove coverage output from tracking, add to .gitignore
  web/.gitignore
  web/coverage/__tests__/factories.ts.html
  web/coverage/__tests__/helpers.ts.html
  web/coverage/__tests__/index.html
  web/coverage/base.css
  web/coverage/block-navigation.js
  web/coverage/clover.xml
  web/coverage/components/CategoryFilter.vue.html
  web/coverage/components/DataTable.vue.html
  web/coverage/components/DateHeader.vue.html
  web/coverage/components/DigestCard.vue.html
  web/coverage/components/DigestFeed.vue.html
  web/coverage/components/EmptyState.vue.html
  web/coverage/components/StatCard.vue.html
  web/coverage/components/index.html
  web/coverage/composables/index.html
  web/coverage/composables/useDashboard.ts.html
  web/coverage/composables/useDigest.ts.html
  web/coverage/coverage-final.json
  web/coverage/favicon.png
  web/coverage/index.html
  web/coverage/prettify.css
  web/coverage/prettify.js
  web/coverage/sort-arrow-sprite.png
  web/coverage/sorter.js
  web/coverage/utils/formatting.ts.html
  web/coverage/utils/index.html
  web/coverage/views/DashboardView.vue.html
  web/coverage/views/FeedView.vue.html
  web/coverage/views/index.html
Due: none

Fix .gitignore path for coverage directory
  web/.gitignore
Due: none

Add Playwright e2e tests for layout regression and critical UI flows
  web/.gitignore
  web/e2e/feed-layout.spec.ts
  web/e2e/fixtures.ts
  web/e2e/navigation.spec.ts
  web/package-lock.json
  web/package.json
  web/playwright.config.ts
  web/vitest.config.ts
Due: none

Add e2e test for digest URL persistence across page reload
  web/e2e/navigation.spec.ts
Due: none

Add npm workspaces with shared package for types, factories, and utils
  .github/workflows/ci.yml
  package-lock.json
  package.json
  shared/factories.ts
  shared/package.json
  shared/types.ts
  shared/utils.ts
  web/package.json
  web/src/__tests__/factories.ts
  web/src/composables/useDigest.ts
  web/src/types.ts
  web/vite.config.ts
  worker/package.json
  worker/src/index.ts
  worker/src/services/summarizer.ts
  worker/src/types.ts
Due: lint-web, lint-worker, format-web, format-worker

Simplify test infrastructure: consolidate stubs, DRY helpers, remove unused code
  web/src/__tests__/factories.ts
  web/src/__tests__/helpers.ts
  web/src/__tests__/setup.ts
  web/src/__tests__/views/DashboardView.test.ts
  web/src/__tests__/views/FeedView.test.ts
Due: lint-web, format-web

Fix e2e tests: use dynamic dates so today's digest loads correctly
  web/e2e/fixtures.ts
  web/e2e/navigation.spec.ts
Due: none

Fix CI: run npm ci from root for workspace resolution, allow shared fs
  .github/workflows/ci.yml
  web/vite.config.ts
Due: none

Cache Playwright browser binaries in CI
  .github/workflows/ci.yml
Due: none

Fix Playwright version detection in CI cache step
  .github/workflows/ci.yml
Due: none

Fix Playwright version path: hoisted to root node_modules in workspaces
  .github/workflows/ci.yml
Due: none

Fix e2e strict mode violations: scope locators to active Swiper slide
  web/e2e/feed-layout.spec.ts
  web/e2e/fixtures.ts
  web/e2e/navigation.spec.ts
Due: none

Use data-testid to scope e2e locators to specific category slides
  web/e2e/feed-layout.spec.ts
  web/e2e/fixtures.ts
  web/e2e/navigation.spec.ts
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix Playwright cache: save even when tests fail
  .github/workflows/ci.yml
Due: none

Fix URL race condition between category and digest date watchers
  web/src/views/FeedView.vue
Due: lint-web, format-web

Add unit test for category watcher URL race condition
  web/src/__tests__/views/FeedView.test.ts
Due: lint-web, format-web

Fix badge test: use exact match for 'AI' text to avoid matching 'AI Breakthrough'
  web/e2e/feed-layout.spec.ts
Due: none

Fix type error in FeedView navigation test
  web/src/__tests__/views/FeedView.test.ts
Due: lint-web, format-web

Fix worker test TypeScript errors: add ProvidedEnv declaration and type res.json()
  worker/src/__tests__/index.test.ts
  worker/src/env.d.ts
Due: lint-worker, format-worker

Cache Playwright apt packages alongside browser binary
  .github/workflows/ci.yml
Due: none

Reset to 'all' category when navigating digests via header arrows
  web/src/__tests__/views/FeedView.test.ts
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix flaky date header test: match full formatted date string
  web/e2e/navigation.spec.ts
Due: none

Path conditions:
  lint-web: any of: web/src/**/*.{ts,vue}
  lint-worker: any of: worker/src/**/*.ts
  format-web: any of: web/src/**/*.{ts,vue,css}
  format-worker: any of: worker/src/**/*.ts
