Repository ajanes93/feed-ai: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-worker, format-web, format-worker

lint-web:
  run: cd web && npx eslint --fix {staged_files} && git add {staged_files}

lint-worker:
  run: cd worker && npx eslint --fix {staged_files} && git add {staged_files}

format-web:
  run: cd web && npx prettier --write {staged_files} && git add {staged_files}

format-worker:
  run: cd worker && npx prettier --write {staged_files} && git add {staged_files}

Simplify swipe composable using @vueuse/core useSwipe (295→163 lines)
  web/src/composables/useSwipeNavigation.ts
  web/src/views/FeedView.vue
Due: lint-web, format-web

Replace TransitionGroup + CSS with @formkit/auto-animate directive
  web/package-lock.json
  web/package.json
  web/src/components/DigestFeed.vue
  web/src/main.ts
Due: lint-web, format-web

Add motion-v and tw-animate-css for declarative animations
  web/package-lock.json
  web/package.json
  web/src/components/DigestCard.vue
  web/src/components/EmptyState.vue
  web/src/style.css
Due: lint-web, format-web

Apply motion-v across remaining components for consistent animations
  web/src/components/DataTable.vue
  web/src/components/DateHeader.vue
  web/src/components/DigestCard.vue
  web/src/components/StatCard.vue
  web/src/views/DashboardView.vue
Due: lint-web, format-web

Add aria-labels to DateHeader nav buttons for accessibility
  web/src/components/DateHeader.vue
Due: lint-web, format-web

Remove unused prop, dead CSS rule, and cache scroll container query
  web/src/components/DigestFeed.vue
  web/src/style.css
  web/src/views/FeedView.vue
Due: lint-web, format-web

Replace custom swipe with Swiper.js, add swipeable category pills
  web/package-lock.json
  web/package.json
  web/src/components/CategoryFilter.vue
  web/src/composables/useSwipeNavigation.ts
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix slideToLoop→slideTo, category drag direction, pointer cancel
  web/src/components/CategoryFilter.vue
  web/src/views/FeedView.vue
Due: lint-web, format-web

Sticky filters, scrollable date header, drawer pull-to-refresh, no flicker
  web/src/components/DateHeader.vue
  web/src/components/DigestFeed.vue
  web/src/composables/useDigest.ts
  web/src/views/FeedView.vue
Due: lint-web, format-web

Swipe feed cycles categories first, then navigates digests at boundaries
  web/src/components/CategoryFilter.vue
  web/src/views/FeedView.vue
Due: lint-web, format-web

Swiper gated to digest-only, draggable pills, less sensitive pull-to-refresh
  web/src/components/CategoryFilter.vue
  web/src/views/FeedView.vue
Due: lint-web, format-web

Add slide transition for category changes on feed content
  web/src/views/FeedView.vue
Due: lint-web, format-web

Restructure to single Swiper: category slides + digest boundaries
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix bugs: pull-to-refresh on wrong slide, double pill select, pill indicator tracking
  web/src/components/CategoryFilter.vue
  web/src/views/FeedView.vue
Due: lint-web, format-web

Simplify FeedView and CategoryFilter after review
  web/src/components/CategoryFilter.vue
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix pull-to-refresh triggering during horizontal swipes
  web/src/views/FeedView.vue
Due: lint-web, format-web

Move DateHeader above sticky filters, make filters sticky instead of fixed
  web/src/views/FeedView.vue
Due: lint-web, format-web

Make filters container fully opaque background
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix: use h-[100dvh] instead of min-h for proper flex-1 height
  web/src/views/FeedView.vue
Due: lint-web, format-web

Move DateHeader and sticky filters inside each slide's scroll container
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix DateHeader as persistent header, sticky filters inside slides
  web/src/views/FeedView.vue
Due: lint-web, format-web

Refactor to nested Swipers for digest + category navigation
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix inner Swiper height and extract resetToFirstCategory helper
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix nested Swipers: height, fixed filters, touch handling
  web/src/views/FeedView.vue
Due: lint-web, format-web

Add no-swiping to outer Swiper to protect filters from digest swipes
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix digest navigation: keep outer Swiper mounted in empty/error state
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix missing availableDates when loading via date URL param
  web/src/composables/useDigest.ts
Due: lint-web, format-web

Fix digest URL loading: await router.isReady() before mount
  web/src/main.ts
Due: none

Fix digest dedup: also match by title to catch URL mismatches
  worker/src/index.ts
Due: none

Fix dedup at the source: resolve AI URLs back to original raw URLs
  worker/src/index.ts
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Simplify dedup: use item_index instead of AI-generated source_url
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Add title fallback to dedup for old entries with mismatched URLs
  worker/src/index.ts
Due: none

Add cross-source dedup instruction to AI prompt
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Harden item_index: bounds validation, remove source_url from AI interface
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Add vitest tests for worker and web packages
  web/package-lock.json
  web/package.json
  web/src/__tests__/formatting.test.ts
  web/src/__tests__/useDashboard.test.ts
  web/src/__tests__/useDigest.test.ts
  web/vitest.config.ts
  worker/package-lock.json
  worker/package.json
  worker/src/__tests__/fetcher.test.ts
  worker/src/__tests__/index.test.ts
  worker/src/__tests__/setup.ts
  worker/src/__tests__/sources.test.ts
  worker/src/__tests__/summarizer.test.ts
  worker/vitest.config.ts
Due: lint-web, lint-worker, format-web, format-worker

Simplify tests: extract helpers, remove redundant auth test
  web/src/__tests__/formatting.test.ts
  worker/src/__tests__/fetcher.test.ts
  worker/src/__tests__/index.test.ts
  worker/src/__tests__/sources.test.ts
  worker/src/__tests__/summarizer.test.ts
Due: lint-web, lint-worker, format-web, format-worker

Extract fishery factories and shared helpers into separate files
  web/package-lock.json
  web/package.json
  web/src/__tests__/factories.ts
  web/src/__tests__/helpers.ts
  web/src/__tests__/useDashboard.test.ts
  web/src/__tests__/useDigest.test.ts
  worker/package-lock.json
  worker/package.json
  worker/src/__tests__/factories.ts
  worker/src/__tests__/fetcher.test.ts
  worker/src/__tests__/helpers.ts
  worker/src/__tests__/index.test.ts
  worker/src/__tests__/summarizer.test.ts
Due: lint-web, lint-worker, format-web, format-worker

Add CI workflow for lint, format checks, and tests
  .github/workflows/ci.yml
Due: none

Remove internal service mocks from index tests
  worker/src/__tests__/index.test.ts
Due: lint-worker, format-worker

Migrate worker tests to @cloudflare/vitest-pool-workers
  worker/migrations/0001_schema.sql
  worker/package-lock.json
  worker/package.json
  worker/src/__tests__/fetcher.test.ts
  worker/src/__tests__/helpers.ts
  worker/src/__tests__/index.test.ts
  worker/src/__tests__/setup.ts
  worker/src/__tests__/summarizer.test.ts
  worker/src/index.ts
  worker/tsconfig.json
  worker/vitest.config.ts
Due: lint-worker, format-worker

Path conditions:
  lint-web: any of: web/src/**/*.{ts,vue}
  lint-worker: any of: worker/src/**/*.ts
  format-web: any of: web/src/**/*.{ts,vue,css}
  format-worker: any of: worker/src/**/*.ts
