Repository ajanes93/feed-ai: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-worker, format-web, format-worker

lefthook.yml:

pre-commit:
  commands:
    lint-web:
      glob: "web/src/**/*.{ts,vue}"
      root: "web/"
      run: npx eslint --fix {staged_files} && git add {staged_files}
    lint-worker:
      glob: "worker/src/**/*.ts"
      root: "worker/"
      run: npx eslint --fix {staged_files} && git add {staged_files}
    format-web:
      glob: "web/src/**/*.{ts,vue,css}"
      root: "web/"
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-worker:
      glob: "worker/src/**/*.ts"
      root: "worker/"
      run: npx prettier --write {staged_files} && git add {staged_files}

Remove Playwright caching from CI
  .github/workflows/ci.yml
Due: none

Fix pull-to-refresh on old digest jumping to today
  web/e2e/navigation.spec.ts
  web/src/views/FeedView.vue
Due: lint-web, format-web

Simplify pull-to-refresh to use window.location.reload()
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix: fallback to Claude on parse failure and preserve AI usage on errors
  worker/src/__tests__/summarizer.test.ts
  worker/src/index.ts
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Fix: isolate news/jobs digest failures so one doesn't prevent the other
  worker/src/index.ts
Due: none

Instruct AI to always return items, never an empty array
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Fix pull-to-refresh overlapping date header and filters
  web/src/views/FeedView.vue
Due: lint-web, format-web

Add unit and e2e tests for pull-to-refresh content push behavior
  web/e2e/pull-to-refresh.spec.ts
  web/src/__tests__/views/FeedView.test.ts
  web/src/views/FeedView.vue
Due: lint-web, format-web

Refactor pull-to-refresh: extract magic numbers into named constants
  web/src/views/FeedView.vue
Due: lint-web, format-web

Smooth pull-to-refresh transitions with opacity fade and animated settle
  web/src/views/FeedView.vue
Due: lint-web, format-web

Extract showPullIndicator computed to reduce template duplication
  web/src/views/FeedView.vue
Due: lint-web, format-web

Add Bluesky API, Jina scrape, and HN Hiring fetchers with 35 sources
  worker/src/__tests__/bluesky.test.ts
  worker/src/__tests__/hn-hiring.test.ts
  worker/src/__tests__/integration.test.ts
  worker/src/__tests__/scrape.test.ts
  worker/src/__tests__/sources.test.ts
  worker/src/services/bluesky.ts
  worker/src/services/constants.ts
  worker/src/services/fetcher.ts
  worker/src/services/hn-hiring.ts
  worker/src/services/scrape.ts
  worker/src/sources.ts
Due: lint-worker, format-worker

Lower HN points thresholds and broaden search queries
  worker/src/sources.ts
Due: none

Simplify fetcher router and fix USER_AGENT consistency
  worker/src/services/fetcher.ts
  worker/src/services/hn-hiring.ts
Due: lint-worker, format-worker

Fix potential undefined from URI pop() in Bluesky fetcher
  worker/src/services/bluesky.ts
Due: lint-worker, format-worker

Add category empty state and make whyItMatters required in prompts
  web/src/__tests__/components/DigestFeed.test.ts
  web/src/components/DigestFeed.vue
  worker/src/services/summarizer.ts
Due: lint-web, lint-worker, format-web, format-worker

Tune summarizer prompts for more items and guaranteed category coverage
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Add comprehensive digest pipeline logging and /api/admin/logs endpoint
  worker/src/index.ts
  worker/src/services/logger.ts
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Fix review issues: auth admin endpoints, harden logging, simplify code
  worker/schema.sql
  worker/src/index.ts
  worker/src/services/logger.ts
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Add admin key prompt to dashboard UI for authenticated access
  web/src/composables/useDashboard.ts
  web/src/views/DashboardView.vue
Due: lint-web, format-web

Fix dashboard tests for auth flow and add auth e2e tests
  web/src/__tests__/useDashboard.test.ts
  web/src/__tests__/views/DashboardView.test.ts
Due: lint-web, format-web

Apply code simplifier improvements and preserve error messages
  web/src/__tests__/useDashboard.test.ts
  web/src/composables/useDashboard.ts
  web/src/views/DashboardView.vue
  worker/src/index.ts
  worker/src/services/summarizer.ts
  worker/src/types.ts
Due: lint-web, lint-worker, format-web, format-worker

Fix job items filtered out by hardcoded 48h freshness cutoff
  worker/src/__tests__/fetcher.test.ts
  worker/src/services/fetcher.ts
Due: lint-worker, format-worker

Simplify freshness filter and add mixed-category test
  worker/src/__tests__/fetcher.test.ts
  worker/src/services/fetcher.ts
Due: lint-worker, format-worker

Filter removed sources from dashboard and health endpoints
  worker/src/index.ts
Due: none

Add VoidZero blog source and refine jobs prompt
  worker/src/services/summarizer.ts
  worker/src/sources.ts
Due: lint-worker, format-worker

Add MCP server for Claude Code access to feed-ai data
  mcp/.gitignore
  mcp/package-lock.json
  mcp/package.json
  mcp/src/index.ts
  mcp/tsconfig.json
Due: none

Add mcp to workspaces, hoist shared devDeps, add tests
  .github/workflows/ci.yml
  .prettierrc
  lefthook.yml
  mcp/eslint.config.js
  mcp/package-lock.json
  mcp/package.json
  mcp/src/__tests__/server.test.ts
  mcp/src/index.ts
  mcp/src/server.ts
  mcp/vitest.config.ts
  package-lock.json
  package.json
  web/package.json
  worker/package.json
Due: none

Add lint:check scripts and consolidate CI into single lint+format job
  .github/workflows/ci.yml
  mcp/package.json
  package.json
  web/package.json
  worker/package.json
Due: none

DRY up configs: shared ESLint base, remove fishery from root, zod v4
  eslint.config.base.js
  mcp/eslint.config.js
  mcp/package.json
  mcp/src/server.ts
  package-lock.json
  package.json
  web/eslint.config.js
  worker/eslint.config.js
Due: none

Add MCP settings and first-time setup instructions to CLAUDE.md
  .claude/settings.json
  CLAUDE.md
Due: none

Update docs and add per-package READMEs
  CLAUDE.md
  README.md
  mcp/README.md
  shared/README.md
  web/README.md
  worker/README.md
Due: none

Rename Evening Scroll references to feed-ai
  CLAUDE.md
  README.md
  mcp/README.md
  web/README.md
  web/index.html
  web/package.json
  worker/README.md
  worker/package.json
Due: none

Update claude agents and commands to use root-level scripts
  .claude/agents/code-reviewer.md
  .claude/agents/code-simplifier.md
  .claude/commands/build.md
Due: none

Update package-lock.json after package renames
  package-lock.json
Due: none

Use tsx to run MCP server directly from TypeScript source
  .claude/settings.json
  mcp/package.json
  package-lock.json
Due: none

Add remote MCP server as Cloudflare Worker with streamable HTTP
  mcp/package.json
  mcp/src/index.ts
  mcp/src/server.ts
  mcp/src/worker.ts
  mcp/tsconfig.json
  mcp/tsconfig.worker.json
  mcp/wrangler.toml
  package-lock.json
Due: none

Rebuild MCP server as Cloudflare Worker only
  .claude/settings.json
  CLAUDE.md
  mcp/package.json
  mcp/src/__tests__/server.test.ts
  mcp/src/index.ts
  mcp/src/tools.ts
  mcp/src/worker.ts
  mcp/tsconfig.json
  mcp/tsconfig.worker.json
  mcp/wrangler.toml
  package-lock.json
Due: none

Make API_BASE configurable via Worker environment variable
  CLAUDE.md
  mcp/src/index.ts
  mcp/src/tools.ts
  mcp/wrangler.toml
Due: none

Clean up stale settings and update MCP README
  .claude/settings.json
  mcp/README.md
Due: none
