Repository ajanes93/feed-ai: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-worker, format-web, format-worker

lint-web:
  run: npx eslint --fix {staged_files} && git add {staged_files}

lint-worker:
  run: npx eslint --fix {staged_files} && git add {staged_files}

format-web:
  run: npx prettier --write {staged_files} && git add {staged_files}

format-worker:
  run: npx prettier --write {staged_files} && git add {staged_files}

Add MCP deploy job, update CI, and add error handling
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  mcp/src/index.ts
Due: none

Fix MCP server returning 200 for unknown paths (breaks Claude.ai connector)
  mcp/src/index.ts
Due: none

Add continuous article fetching and digest refresh from admin panel
  web/src/__tests__/views/DashboardView.test.ts
  web/src/composables/useDashboard.ts
  web/src/views/DashboardView.vue
  worker/migrations/0003_raw_items_date_column.sql
  worker/schema.sql
  worker/src/index.ts
  worker/wrangler.toml
Due: lint-web, format-web

Include last 24h of raw items in digest and fix FK constraint
  worker/migrations/0003_raw_items_date_column.sql
  worker/schema.sql
  worker/src/index.ts
Due: none

Add tests for raw_items accumulation, rebuild digest, and dashboard e2e
  web/e2e/dashboard.spec.ts
  web/src/__tests__/useDashboard.test.ts
  web/src/__tests__/views/DashboardView.test.ts
  worker/src/__tests__/helpers.ts
  worker/src/__tests__/integration.test.ts
Due: lint-web, lint-worker, format-web, format-worker

Address code review findings: simplify merge, fix fragile UI, add error handling
  web/src/composables/useDashboard.ts
  web/src/views/DashboardView.vue
  worker/src/__tests__/integration.test.ts
  worker/src/index.ts
Due: lint-web, lint-worker, format-web, format-worker

Add observability logging for cron dispatch, fetch-and-store, and source breakdowns
  web/src/__tests__/useDashboard.test.ts
  worker/src/index.ts
Due: lint-web, format-web

Add test coverage for fetchAndStoreArticles, cron dispatch, and content truncation
  worker/src/__tests__/integration.test.ts
  worker/src/index.ts
Due: lint-worker, format-worker

Extract handleUnauthorized helper to DRY up 401 handling in useDashboard
  web/src/composables/useDashboard.ts
Due: lint-web, format-web

Simplify storeRawItems return type, deduplicate health filtering, fix misleading comments
  web/e2e/dashboard.spec.ts
  worker/src/index.ts
Due: none

Replace inactive Taylor Otwell Bluesky with Guillaume Chau
  worker/src/sources.ts
Due: none

Replace Jina scraper with direct HTML parsing for every.to
  worker/src/services/scrape.ts
Due: lint-worker, format-worker

Fix 3 broken sources returning 0 items
  worker/src/sources.ts
Due: none

Use Cloudflare HTMLRewriter for every.to scraping
  worker/src/services/scrape.ts
Due: lint-worker, format-worker

Update scrape tests for direct HTML parsing with HTMLRewriter
  worker/src/__tests__/scrape.test.ts
Due: lint-worker, format-worker

Extract scraper into handler pattern for extensibility
  worker/src/services/scrape.ts
  worker/src/services/scrapers/every-to.ts
  worker/src/services/scrapers/types.ts
Due: lint-worker, format-worker

Guard against absolute URLs in every-to scraper
  worker/src/services/scrapers/every-to.ts
Due: lint-worker, format-worker

Show yellow "Check" status for sources returning 0 items
  web/src/views/DashboardView.vue
Due: lint-web, format-web

Add test for yellow "Check" status on 0-item sources
  web/src/__tests__/views/DashboardView.test.ts
Due: lint-web, format-web

Add auth tests for POST /api/fetch endpoint
  worker/src/__tests__/index.test.ts
Due: lint-worker, format-worker

Add POST /api/fetch endpoint to trigger fetch without digest
  worker/src/index.ts
Due: none

Add fetch endpoint integration test, fix scrape mocks for HTMLRewriter
  worker/src/__tests__/integration.test.ts
Due: lint-worker, format-worker

Add success path tests for all endpoints, disable real network calls in tests
  worker/src/__tests__/helpers.ts
  worker/src/__tests__/index.test.ts
Due: lint-worker, format-worker

Store fetched items in raw_items table from /api/fetch endpoint
  worker/src/index.ts
Due: none

Extract shared runFetchAndStore helper to eliminate duplication
  worker/src/index.ts
Due: none

Extract shared LOG_INSERT constant in test helpers
  worker/src/__tests__/helpers.ts
Due: lint-worker, format-worker

Add error handling to /api/fetch endpoint
  worker/src/index.ts
Due: none

Add CORS preflight test for Authorization header
  worker/src/__tests__/index.test.ts
Due: lint-worker, format-worker

Fix CORS to allow Authorization header for preflight requests
  worker/src/index.ts
Due: none

Rename Refresh Digest button to Rebuild Today
  web/src/__tests__/views/DashboardView.test.ts
  web/src/views/DashboardView.vue
Due: lint-web, format-web

Update Playwright tests for Rebuild Today button rename
  web/e2e/dashboard.spec.ts
Due: none

Add scheduled health check workflow
  .github/workflows/healthcheck.yml
Due: none

Remove health check workflow
  .github/workflows/healthcheck.yml
Due: none

Revert "Fix: CORS for Authorization header, rename Rebuild Today button"
  web/e2e/dashboard.spec.ts
  web/src/__tests__/views/DashboardView.test.ts
  web/src/views/DashboardView.vue
  worker/src/__tests__/index.test.ts
  worker/src/index.ts
Due: lint-web, lint-worker, format-web, format-worker

Revert "Revert "Fix: CORS for Authorization header, rename Rebuild Today button""
  web/e2e/dashboard.spec.ts
  web/src/__tests__/views/DashboardView.test.ts
  web/src/views/DashboardView.vue
  worker/src/__tests__/index.test.ts
  worker/src/index.ts
Due: lint-web, lint-worker, format-web, format-worker

feat: Add Lincoln City FC sport category with Jina Reader scraping
  web/src/__tests__/components/CategoryFilter.test.ts
  web/src/components/CategoryFilter.vue
  worker/src/__tests__/integration.test.ts
  worker/src/__tests__/scrape.test.ts
  worker/src/__tests__/sources.test.ts
  worker/src/services/scrape.ts
  worker/src/services/scrapers/every-to.ts
  worker/src/services/scrapers/jina.ts
  worker/src/services/scrapers/types.ts
  worker/src/sources.ts
Due: lint-web, lint-worker, format-web, format-worker

Fix sport category in digest + every-to Jina regex
  worker/src/services/scrapers/jina.ts
  worker/src/services/summarizer.ts
Due: lint-worker, format-worker

Fix sport category UI: add styling, remove 'All' filter
  web/src/__tests__/components/CategoryFilter.test.ts
  web/src/__tests__/views/FeedView.test.ts
  web/src/components/CategoryFilter.vue
  web/src/components/DigestCard.vue
  web/src/views/FeedView.vue
Due: lint-web, format-web

Enable edge swipe detection for nested swiper navigation
  web/src/views/FeedView.vue
Due: lint-web, format-web

Fix admin key input autofill causing auth errors
  web/src/views/DashboardView.vue
Due: lint-web, format-web

Path conditions:
  lint-web: any of: web/src/**/*.{ts,vue} and ^web/
  lint-worker: any of: worker/src/**/*.ts and ^worker/
  format-web: any of: web/src/**/*.{ts,vue,css} and ^web/
  format-worker: any of: worker/src/**/*.ts and ^worker/
