Repository ajanes93/feed-ai: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-worker, format-web, format-worker

lefthook.yml:

pre-commit:
  commands:
    lint-web:
      glob: "web/src/**/*.{ts,vue}"
      root: "web/"
      run: npx eslint --fix {staged_files} && git add {staged_files}
    lint-worker:
      glob: "worker/src/**/*.ts"
      root: "worker/"
      run: npx eslint --fix {staged_files} && git add {staged_files}
    format-web:
      glob: "web/src/**/*.{ts,vue,css}"
      root: "web/"
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-worker:
      glob: "worker/src/**/*.ts"
      root: "worker/"
      run: npx prettier --write {staged_files} && git add {staged_files}

Simplify fetch dispatch, fix comment count, add word boundaries to HN regex
  worker/src/index.ts
  worker/src/services/hn-hiring.ts
  worker/src/sources.ts
Due: lint-worker, format-worker

Add periodic summarizer scheduling with incremental digest builds
  worker/migrations/0006_add_summarized_at.sql
  worker/schema.sql
  worker/src/__tests__/integration.test.ts
  worker/src/index.ts
  worker/src/types.ts
  worker/wrangler.toml
Due: lint-worker, format-worker

Optimize schedule: 3 evenly-spaced fetch→summarize→enrich cycles
  worker/src/__tests__/integration.test.ts
Due: lint-worker, format-worker

Add incremental summarize tests and simplify digest pipeline
  worker/src/__tests__/integration.test.ts
  worker/src/index.ts
Due: lint-worker, format-worker

Add AI Assistant view with full-screen chat, FAB, and worker proxy
  package-lock.json
  web/package.json
  web/src/App.vue
  web/src/__tests__/components/AiFab.test.ts
  web/src/__tests__/useAiChat.test.ts
  web/src/__tests__/useRateLimit.test.ts
  web/src/components/AiFab.vue
  web/src/composables/useAiChat.ts
  web/src/composables/useDeviceFingerprint.ts
  web/src/composables/useRateLimit.ts
  web/src/router.ts
  web/src/utils/markdown.ts
  web/src/views/AiAssistantView.vue
  worker/migrations/0007_add_ai_rate_limits.sql
  worker/src/__tests__/ai-chat.test.ts
  worker/src/index.ts
  worker/src/services/ai-chat.ts
Due: lint-web, lint-worker, format-web, format-worker

Add e2e tests, fix CI conflicts, harden security
  package-lock.json
  web/e2e/ai-assistant.spec.ts
  web/e2e/navigation.spec.ts
  web/e2e/pull-to-refresh.spec.ts
  web/package.json
  web/src/__tests__/useAiChat.test.ts
  web/src/components/CategoryFilter.vue
  web/src/composables/useAiChat.ts
  web/src/composables/useDeviceFingerprint.ts
  web/src/composables/useRateLimit.ts
  web/src/utils/markdown.ts
  web/src/views/AiAssistantView.vue
  worker/src/services/ai-chat.ts
Due: lint-web, lint-worker, format-web, format-worker

Fix e2e: use exact match for Feed back button text
  web/e2e/ai-assistant.spec.ts
Due: none

Fix jobs section: enforce remote-only Vue roles across all sources
  worker/src/__tests__/himalayas.test.ts
  worker/src/__tests__/vuejobs.test.ts
  worker/src/services/constants.ts
  worker/src/services/fetcher.ts
  worker/src/services/himalayas.ts
  worker/src/services/summarizer.ts
  worker/src/services/vuejobs.ts
  worker/src/sources.ts
Due: lint-worker, format-worker

Add Actions dropdown menu with rebuild/append options to dashboard
  web/e2e/dashboard.spec.ts
  web/src/__tests__/useDashboard.test.ts
  web/src/__tests__/views/DashboardView.test.ts
  web/src/components/DropdownMenu.vue
  web/src/composables/useDashboard.ts
  web/src/views/DashboardView.vue
Due: lint-web, format-web

Simplify dashboard: extract runRebuildAction, remove indirection
  web/src/components/DropdownMenu.vue
  web/src/composables/useDashboard.ts
  web/src/views/DashboardView.vue
Due: lint-web, format-web

Split onequestion into oq-worker/ and oq-web/ top-level workspaces
  oq-web/eslint.config.js
  oq-web/index.html
  oq-web/package.json
  oq-web/src/App.vue
  oq-web/src/__tests__/useOneQuestion.test.ts
  oq-web/src/components/OQModelAgreement.vue
  oq-web/src/components/OQScoreGauge.vue
  oq-web/src/components/OQSignalList.vue
  oq-web/src/components/OQSubscribe.vue
  oq-web/src/components/OQTrendChart.vue
  oq-web/src/composables/useOneQuestion.ts
  oq-web/src/main.ts
  oq-web/src/router.ts
  oq-web/src/style.css
  oq-web/src/views/DashboardView.vue
  oq-web/src/views/OneQuestionView.vue
  oq-web/tsconfig.json
  oq-web/tsconfig.node.json
  oq-web/vite.config.ts
  oq-web/vitest.config.ts
  oq-worker/eslint.config.js
  oq-worker/migrations/0001_schema.sql
  oq-worker/package.json
  oq-worker/src/__tests__/routes.test.ts
  oq-worker/src/__tests__/scorer.test.ts
  oq-worker/src/__tests__/setup.ts
  oq-worker/src/index.ts
  oq-worker/src/services/prompt.ts
  oq-worker/src/services/scorer.ts
  oq-worker/src/sources.ts
  oq-worker/src/types.ts
  oq-worker/tsconfig.json
  oq-worker/vitest.config.ts
  oq-worker/wrangler.toml
  package-lock.json
  package.json
Due: none

Fix reviewer findings: types, timezone, API responses, tests
  oq-web/src/components/OQModelAgreement.vue
  oq-web/src/components/OQTrendChart.vue
  oq-web/src/composables/useOneQuestion.ts
  oq-web/src/utils/format.ts
  oq-web/src/views/DashboardView.vue
  oq-worker/src/__tests__/scorer.test.ts
  oq-worker/src/index.ts
  oq-worker/src/services/scorer.ts
Due: none

Add alreadyExists to generateDailyScore return type
  oq-worker/src/index.ts
Due: none

Simplify OQ worker and web code
  oq-web/src/components/OQScoreGauge.vue
  oq-web/src/components/OQTrendChart.vue
  oq-web/src/composables/useOneQuestion.ts
  oq-web/src/main.ts
  oq-web/src/views/DashboardView.vue
  oq-worker/src/index.ts
  oq-worker/src/services/scorer.ts
Due: none

Simplify OQ: merge branches, remove dead code, reduce queries
  oq-worker/src/index.ts
  oq-worker/src/services/scorer.ts
  oq-worker/src/sources.ts
  shared/oq-types.ts
Due: none

Simplify OQ: inline helpers, remove abstractions, dedupe auth
  oq-web/src/components/OQScoreGauge.vue
  oq-web/src/views/DashboardView.vue
  oq-worker/src/index.ts
  oq-worker/src/services/scorer.ts
  worker/src/services/logger.ts
Due: lint-worker, format-worker

Decouple OQ from main worker: own DB, own tables, no cross-imports
  oq-web/src/composables/useOneQuestion.ts
  oq-web/src/views/OneQuestionView.vue
  oq-worker/migrations/0001_schema.sql
  oq-worker/src/__tests__/routes.test.ts
  oq-worker/src/index.ts
  oq-worker/wrangler.toml
  worker/migrations/0008_add_onequestion_tables.sql
  worker/src/services/logger.ts
Due: lint-worker, format-worker

Set OQ D1 database name and ID
  oq-worker/wrangler.toml
Due: none

Add OQ worker + web to CI and deploy workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

Add service binding proxy for oq-web → oq-worker
  oq-web/functions/api/[[path]].ts
  oq-web/wrangler.toml
Due: none

Rename oq-worker to one-question-api for consistency
  oq-web/wrangler.toml
  oq-worker/wrangler.toml
Due: none

Add comprehensive test coverage for OQ feature
  .github/workflows/ci.yml
  oq-web/e2e/dashboard.spec.ts
  oq-web/e2e/fixtures.ts
  oq-web/e2e/score-display.spec.ts
  oq-web/package.json
  oq-web/playwright.config.ts
  oq-web/src/__tests__/format.test.ts
  oq-web/src/__tests__/useOneQuestion.test.ts
  oq-web/src/main.ts
  oq-web/vitest.config.ts
  oq-worker/src/__tests__/feed-parser.test.ts
  oq-worker/src/__tests__/prompt.test.ts
  oq-worker/src/__tests__/scorer-functions.test.ts
  oq-worker/src/index.ts
  oq-worker/src/services/scorer.ts
  package-lock.json
  shared/factories.ts
Due: none

Include e2e directories in lint and format scripts
  oq-web/e2e/dashboard.spec.ts
  oq-web/e2e/fixtures.ts
  oq-web/e2e/score-display.spec.ts
  oq-web/package.json
  oq-worker/src/__tests__/scorer-functions.test.ts
  web/e2e/ai-assistant.spec.ts
  web/e2e/comment-summaries.spec.ts
  web/e2e/feed-layout.spec.ts
  web/e2e/fixtures.ts
  web/e2e/navigation.spec.ts
  web/e2e/pull-to-refresh.spec.ts
  web/package.json
Due: none

Add .gitignore for oq-web playwright artifacts
  oq-web/.gitignore
Due: none

fix: use full D1 database UUID in oq-worker wrangler config
  oq-worker/wrangler.toml
Due: none

fix: consolidate cron triggers to stay within free plan limit of 5
  oq-worker/src/index.ts
  oq-worker/wrangler.toml
  worker/src/index.ts
  worker/wrangler.toml
Due: none

fix: enable scrolling on OQ page
  oq-web/src/views/OneQuestionView.vue
Due: none

feat: add OQ dashboard with auth, actions, AI usage, and source health
  oq-web/package.json
  oq-web/src/composables/useDashboard.ts
  oq-web/src/main.ts
  oq-web/src/views/DashboardView.vue
  oq-worker/src/index.ts
  package-lock.json
  shared/__tests__/components/DataTable.test.ts
  shared/__tests__/components/StatCard.test.ts
  shared/__tests__/utils.test.ts
  shared/components/DataTable.vue
  shared/components/DropdownMenu.vue
  shared/components/StatCard.vue
  shared/package.json
  shared/utils.ts
  shared/vitest.config.ts
  web/src/utils/formatting.ts
  web/src/views/DashboardView.vue
Due: lint-web, format-web

fix: address review findings from reviewer and simplifier
  oq-web/src/__tests__/format.test.ts
  oq-web/src/components/OQModelAgreement.vue
  oq-web/src/utils/format.ts
  oq-web/src/views/DashboardView.vue
  shared/__tests__/utils.test.ts
  shared/package.json
  shared/utils.ts
  web/src/views/DashboardView.vue
Due: lint-web, format-web

fix: update tests to match consolidated cron schedule and dashboard auth
  oq-web/e2e/dashboard.spec.ts
  oq-web/src/views/DashboardView.vue
  worker/src/__tests__/integration.test.ts
Due: lint-worker, format-worker

Add One Question gap-fill implementation plan
  plan.md
Due: none

Update plan: FRED API key acquired, merge into single phase
  plan.md
Due: none

Update plan: add back all previously excluded items
  plan.md
Due: none

Simplify: DRY scoring helpers, destructure middleware, clean scrapers
  oq-web/functions/_middleware.ts
  oq-worker/src/index.ts
  oq-worker/src/services/sanity-harness.ts
  oq-worker/src/services/scorer.ts
  oq-worker/src/services/swe-bench.ts
Due: none

Fix reviewer findings: wire SWE-bench into prompt, guard JSON.parse, add error handling to admin endpoints
  oq-worker/src/index.ts
  oq-worker/src/services/prompt.ts
  oq-worker/src/services/scorer.ts
Due: none

Simplify OQWhatWouldChange: inline sections instead of dynamic loop
  oq-web/src/components/OQWhatWouldChange.vue
Due: none

fix: rewrite scrapers for real site structure, replace SWE-bench Pro with Bash Only
  oq-web/e2e/fixtures.ts
  oq-web/e2e/score-display.spec.ts
  oq-web/src/components/OQCapabilityGap.vue
  oq-web/src/composables/useOneQuestion.ts
  oq-web/src/views/OQMethodologyView.vue
  oq-web/src/views/OneQuestionView.vue
  oq-worker/src/__tests__/prompt.test.ts
  oq-worker/src/__tests__/scorer-functions.test.ts
  oq-worker/src/index.ts
  oq-worker/src/services/prompt.ts
  oq-worker/src/services/sanity-harness.ts
  oq-worker/src/services/scorer.ts
  oq-worker/src/services/swe-bench.ts
Due: none

Add FRED trend context (week-over-week and 4-week changes)
  oq-worker/src/__tests__/fred.test.ts
  oq-worker/src/__tests__/prompt.test.ts
  oq-worker/src/index.ts
  oq-worker/src/services/fred.ts
  oq-worker/src/services/prompt.ts
  oq-worker/src/services/scorer.ts
Due: none

Consolidate external data into time-series history table
  oq-worker/migrations/0003_external_data_history.sql
  oq-worker/src/__tests__/routes.test.ts
  oq-worker/src/index.ts
Due: none
