Repository ajanes93/feed-ai: changes, and which lefthook commands are due for each by the changed paths.
All: lint-web, lint-worker, format-web, format-worker

lefthook.yml:

pre-commit:
  commands:
    lint-web:
      glob: "web/src/**/*.{ts,vue}"
      root: "web/"
      run: npx eslint --fix {staged_files} && git add {staged_files}
    lint-worker:
      glob: "worker/src/**/*.ts"
      root: "worker/"
      run: npx eslint --fix {staged_files} && git add {staged_files}
    format-web:
      glob: "web/src/**/*.{ts,vue,css}"
      root: "web/"
      run: npx prettier --write {staged_files} && git add {staged_files}
    format-worker:
      glob: "worker/src/**/*.ts"
      root: "worker/"
      run: npx prettier --write {staged_files} && git add {staged_files}

Fix review issues: accessibility, sync skeletons, clean up deps
  package-lock.json
  shared/__tests__/components/StatCard.test.ts
  shared/components/LogViewer.vue
  shared/components/ui/dropdown-menu/DropdownMenuItem.vue
  web/package.json
  web/src/views/DashboardView.vue
  web/src/views/FeedView.vue
  web/tsconfig.json
  web/vite.config.ts
Due: lint-web, format-web

Add vite-ssg prerendering to oq-web with OG meta tags
  oq-web/package.json
  oq-web/src/composables/useDashboard.ts
  oq-web/src/main.ts
  oq-web/src/router.ts
  oq-web/src/views/DashboardView.vue
  oq-web/src/views/OQMethodologyView.vue
  oq-web/src/views/OneQuestionView.vue
  oq-web/vite.config.ts
  package-lock.json
Due: none

Add vite-ssg prerendering with OG meta tags for agent visibility
  package-lock.json
  web/index.html
  web/package.json
  web/src/__tests__/setup.ts
  web/src/composables/useDashboard.ts
  web/src/main.ts
  web/src/router.ts
  web/src/views/AiAssistantView.vue
  web/src/views/DashboardView.vue
  web/src/views/FeedView.vue
  web/vite.config.ts
Due: lint-web, format-web

Fix app styling to align with shadcn-vue best practices
  oq-web/src/views/DashboardView.vue
  shared/components/DataTable.vue
  shared/components/StatCard.vue
  shared/components/ui/table/TableCell.vue
  shared/components/ui/table/TableHead.vue
  web/src/views/DashboardView.vue
Due: lint-web, format-web

Fix dropdown background, chevron wrapping, and trigger disabled state
  oq-web/src/style.css
  oq-web/src/views/DashboardView.vue
  web/src/style.css
  web/src/views/DashboardView.vue
Due: lint-web, format-web

Add Worker SSR: inject live data into HTML responses
  oq-web/functions/_middleware.ts
  oq-web/src/composables/useOneQuestion.ts
  web/functions/_middleware.ts
  web/src/composables/useDigest.ts
Due: lint-web, format-web

Remove vite-ssg: replaced by Worker SSR middleware
  oq-web/package.json
  oq-web/src/main.ts
  oq-web/src/views/DashboardView.vue
  oq-web/src/views/OQMethodologyView.vue
  oq-web/src/views/OneQuestionView.vue
  oq-web/vite.config.ts
  package-lock.json
  web/package.json
  web/src/main.ts
  web/src/views/AiAssistantView.vue
  web/src/views/DashboardView.vue
  web/src/views/FeedView.vue
  web/vite.config.ts
Due: lint-web, format-web

Redesign story narrative: add source links, drill-downs, score detail page
  oq-web/e2e/data-surface.spec.ts
  oq-web/e2e/fixtures.ts
  oq-web/functions/_middleware.ts
  oq-web/src/__tests__/components/OQCapabilityGap.test.ts
  oq-web/src/__tests__/components/OQEconomicReality.test.ts
  oq-web/src/__tests__/components/OQSanityHarness.test.ts
  oq-web/src/__tests__/components/OQSignalList.test.ts
  oq-web/src/components/OQCapabilityGap.vue
  oq-web/src/components/OQEconomicReality.vue
  oq-web/src/components/OQExplainer.vue
  oq-web/src/components/OQModelAgreement.vue
  oq-web/src/components/OQSanityHarness.vue
  oq-web/src/components/OQScoreGauge.vue
  oq-web/src/components/OQSignalList.vue
  oq-web/src/components/OQTrendChart.vue
  oq-web/src/composables/useOneQuestion.ts
  oq-web/src/router.ts
  oq-web/src/style.css
  oq-web/src/views/OQScoreDetailView.vue
  oq-web/src/views/OneQuestionView.vue
  oq-worker/src/__tests__/admin-routes.test.ts
  oq-worker/src/__tests__/scorer-functions.test.ts
  oq-worker/src/__tests__/swe-bench.test.ts
  oq-worker/src/index.ts
  oq-worker/src/services/prompt.ts
  oq-worker/src/services/scorer.ts
  oq-worker/src/services/swe-bench.ts
  shared/components/ui/collapsible/Collapsible.vue
  shared/components/ui/collapsible/CollapsibleContent.vue
  shared/components/ui/collapsible/CollapsibleTrigger.vue
  shared/components/ui/collapsible/index.ts
  shared/oq-types.ts
  shared/package.json
Due: none

Fix code review issues: XSS prevention, data leakage, type safety
  oq-web/src/views/OQScoreDetailView.vue
  oq-worker/src/__tests__/scorer-functions.test.ts
  oq-worker/src/index.ts
  oq-worker/src/services/scorer.ts
Due: none

Address remaining review suggestions
  oq-web/src/App.vue
  oq-web/src/__tests__/components/OQCapabilityGap.test.ts
  oq-web/src/__tests__/components/OQEconomicReality.test.ts
  oq-web/src/__tests__/components/OQSanityHarness.test.ts
  oq-web/src/__tests__/components/OQSignalList.test.ts
  oq-web/src/components/OQCapabilityGap.vue
  oq-web/src/components/OQEconomicReality.vue
  oq-web/src/components/OQExplainer.vue
  oq-web/src/components/OQSanityHarness.vue
  oq-web/src/components/OQSignalList.vue
  oq-web/src/components/OQTrendChart.vue
  oq-web/src/views/OQScoreDetailView.vue
Due: none

Fix second review round: article URL validation, accessibility, semantics
  oq-web/src/components/OQSignalList.vue
  oq-web/src/components/OQTrendChart.vue
  oq-web/src/views/OQScoreDetailView.vue
  oq-worker/src/index.ts
Due: none

Simplify code and fix e2e test failures
  oq-web/e2e/methodology.spec.ts
  oq-web/e2e/score-display.spec.ts
  oq-web/src/components/OQEconomicReality.vue
  oq-web/src/components/OQSanityHarness.vue
  oq-web/src/components/OQSignalList.vue
  oq-web/src/views/OQScoreDetailView.vue
  oq-worker/src/services/prompt.ts
  oq-worker/src/services/scorer.ts
Due: none

Fix SWE-bench Pro showing 97%, make tooltips work on mobile, improve signal tap targets
  oq-web/src/components/OQExplainer.vue
  oq-web/src/components/OQSignalList.vue
  oq-worker/src/__tests__/swe-bench.test.ts
  oq-worker/src/index.ts
  oq-worker/src/services/swe-bench.ts
Due: none

Fix SanityHarness language parser and FRED daily trend computation
  oq-worker/src/__tests__/fred.test.ts
  oq-worker/src/__tests__/helpers.ts
  oq-worker/src/services/fred.ts
  oq-worker/src/services/sanity-harness.ts
Due: none

Replace Pro score reset-to-zero with warning log
  oq-worker/src/index.ts
Due: none

Format OQSignalList.vue with Prettier
  oq-web/src/components/OQSignalList.vue
Due: none

Fix storeExternalData to update same-day rows instead of skipping
  oq-worker/src/__tests__/admin-routes.test.ts
  oq-worker/src/index.ts
Due: none

Add migration to purge bad SWE-bench data with 97% Pro score
  oq-worker/migrations/0010_purge_bad_swebench.sql
Due: none

Make signal URLs required in scoring prompt
  oq-worker/src/services/prompt.ts
Due: none

Homepage cleanup: collapse signals, dynamic notes, prompt audit trail
  oq-web/e2e/data-surface.spec.ts
  oq-web/e2e/fixtures.ts
  oq-web/e2e/methodology.spec.ts
  oq-web/src/__tests__/components/OQCapabilityGap.test.ts
  oq-web/src/__tests__/components/OQEconomicReality.test.ts
  oq-web/src/__tests__/components/OQSanityHarness.test.ts
  oq-web/src/components/OQCapabilityGap.vue
  oq-web/src/components/OQEconomicReality.vue
  oq-web/src/components/OQSanityHarness.vue
  oq-web/src/components/OQSignalList.vue
  oq-web/src/composables/useOneQuestion.ts
  oq-web/src/views/OQMethodologyView.vue
  oq-web/src/views/OQScoreDetailView.vue
  oq-web/src/views/OneQuestionView.vue
  oq-worker/migrations/0011_section_notes.sql
  oq-worker/src/__tests__/scorer-functions.test.ts
  oq-worker/src/index.ts
  oq-worker/src/services/prompt.ts
  oq-worker/src/services/scorer.ts
  oq-worker/src/sources.ts
  shared/oq-types.ts
Due: none

Make capability_gap_note dynamic: use preferClaude, null when unchanged
  oq-worker/src/services/prompt.ts
  oq-worker/src/services/scorer.ts
Due: none

Dynamic metrics dashboard with daily external data and computed deltas
  oq-web/src/components/OQCapabilityGap.vue
  oq-web/src/components/OQSanityHarness.vue
  oq-web/src/composables/useOneQuestion.ts
  oq-web/src/views/OneQuestionView.vue
  oq-worker/src/index.ts
Due: none

Limit articles sent to models to a 2-day window
  oq-worker/src/index.ts
Due: none

fix: prompt audit trail — clickable hashes, correct current badge, full prompt viewer
  oq-web/e2e/fixtures.ts
  oq-web/e2e/methodology.spec.ts
  oq-web/src/views/OQMethodologyView.vue
  oq-worker/src/index.ts
Due: none

feat: auto-expand prompt when navigating via #prompt-<hash> fragment
  oq-web/src/views/OQMethodologyView.vue
Due: none

fix: address code review findings for prompt audit trail
  oq-web/e2e/fixtures.ts
  oq-web/e2e/methodology.spec.ts
  oq-web/src/views/OQMethodologyView.vue
  oq-worker/src/index.ts
Due: none

feat: FRED deltas + funding headline in Economic Reality section
  oq-web/e2e/data-surface.spec.ts
  oq-web/e2e/fixtures.ts
  oq-web/src/__tests__/components/OQEconomicReality.test.ts
  oq-web/src/components/OQEconomicReality.vue
  oq-web/src/composables/useOneQuestion.ts
  oq-web/src/views/OneQuestionView.vue
  oq-worker/src/index.ts
Due: none

feat: general employment index, labour_note, and economic trend visualization
  oq-web/e2e/data-surface.spec.ts
  oq-web/e2e/fixtures.ts
  oq-web/src/components/OQEconomicHistory.vue
  oq-web/src/components/OQEconomicReality.vue
  oq-web/src/composables/useOneQuestion.ts
  oq-web/src/router.ts
  oq-web/src/views/OQEconomicHistoryView.vue
  oq-web/src/views/OQMethodologyView.vue
  oq-web/src/views/OneQuestionView.vue
  oq-worker/migrations/0012_labour_note.sql
  oq-worker/src/index.ts
  oq-worker/src/services/prompt.ts
  oq-worker/src/services/scorer.ts
  shared/oq-types.ts
Due: none

fix: repair job fetching, feed ordering, enrichment notifications, and move crons to GitHub Actions
  .github/workflows/cron.yml
  web/src/composables/useDashboard.ts
  worker/src/__tests__/himalayas.test.ts
  worker/src/__tests__/index.test.ts
  worker/src/__tests__/integration.test.ts
  worker/src/__tests__/vuejobs.test.ts
  worker/src/index.ts
  worker/src/services/himalayas.ts
  worker/src/services/remoteok.ts
  worker/src/services/vuejobs.ts
  worker/src/sources.ts
  worker/wrangler.toml
Due: lint-web, lint-worker, format-web, format-worker

fix: move oq-worker cron to GitHub Actions and add maintenance endpoint
  .github/workflows/oq-cron.yml
  oq-worker/src/index.ts
  oq-worker/wrangler.toml
Due: none

fix: address code review findings
  .github/workflows/cron.yml
  worker/src/index.ts
  worker/src/services/constants.ts
  worker/src/services/himalayas.ts
Due: lint-worker, format-worker

fix: remove article purge from maintenance endpoint
  oq-worker/src/index.ts
Due: none

fix: Economic History chart — range-based Y scaling + score trend line
  oq-web/src/components/OQEconomicHistory.vue
Due: none

fix: Economic Reality — FRED backfill, all-time funding, ICSA label
  oq-web/e2e/data-surface.spec.ts
  oq-web/src/components/OQEconomicReality.vue
  oq-worker/src/index.ts
Due: none

Fix cron workflows: add environment: production for secrets access
  .github/workflows/cron.yml
  .github/workflows/oq-cron.yml
Due: none

Add unified backfill endpoint and funding event dedup
  oq-worker/src/index.ts
Due: none

Store scores as floats, remove 2-day article window, add purge endpoint
  oq-worker/src/index.ts
  oq-worker/src/services/scorer.ts
Due: none

Add Anthropic News RSS source for funding/business coverage
  oq-worker/src/sources.ts
Due: none

Simplify funding dedup, fix review findings
  oq-worker/src/index.ts
  oq-worker/src/services/scorer.ts
Due: none

Add separate funding extraction, map-reduce pre-digest, and batch fixes
  oq-worker/src/__tests__/helpers.ts
  oq-worker/src/__tests__/prompt.test.ts
  oq-worker/src/__tests__/scorer-functions.test.ts
  oq-worker/src/index.ts
  oq-worker/src/services/prompt.ts
  oq-worker/src/services/scorer.ts
  shared/oq-types.ts
Due: none
